.header{
  text-align: center;
  color: #262626;
  background-color: #f4deb5;
}

.row{
  height: 100%;
}

.sidebar{
  padding-left: 25px;
  padding-top: 7px;
  padding-bottom:7px;
  background-color: #90bb90;
  max-width: 200px;
  min-width: 200px;
  color: #262626;
  min-height: 205px;
  max-height: 100%;
  height: 100%;
}

.sidebar h5{
  color: #f2ddb4;
}

.rules {
  min-width: 250px;
  max-width: 550px;
  padding-left: 25px;
}

body {
  margin: 0px; 
  background-color: #e6e6e6;
  height: 100%;
}

html{
  height: 100%;
  font-family: sans-serif;
}